@use "../../styles/common";

.header{
  width: 100%;
  background-color: common.$color-primary;
  border-bottom: 1px solid common.$color-border;
}

.header__container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 20px;
}

.header__logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: common.$color-text;
}